/* The following code is applied to every page */
/************************************************************************************/
body {
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #ffffff;
    color: #333333;
    margin: 0;
}

/*Banner Code*/
#topBanner {
    position: relative;
    background-color: #03244d;
    padding: 2%;
}

#logo { 
    position: relative;
    float: left;
    width: 20%;
}

#websiteName {
    position: relative;
    color: white;
    text-align: right;
    right: 0;
    font-size: 2vw;
    margin-bottom: 1%;
}

#department {
    position: relative;
    color: white;
    text-align: right;
    right: 0;
    font-size: 1.2vw;
    margin-top: 1%;
}

/*Button Style*/
.greyNavigationButtons {
    border: 1px solid #eeeeee; 
    padding: 8px; 
    border-radius: 5px;
}

.greyNavigationButtons:active {
    border: 1px solid #66afe9;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 0 2px #66afe9;
}

.greyNavigationButtons:focus {
    outline: none;
}
/************************************************************************************/




/* The following code is specific to the Log In page */
/************************************************************************************/
#logInMainArea {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5%;
}

#projectDescription {
    position: relative;
    text-align: justify;
    float: left;
    max-width: 500px;
    padding: 2%;
    border: 1px solid grey;
    border-radius: 10px;
    margin: 2%;
}

#projectTitle {
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
    padding-bottom: 1%;
    text-align: center;
}


    /*This code is for a log-in box. It was removed because we got CAS authitication
    #logInBox {
        border: 1px solid grey;
        border-radius: 10px;
        width: 250px;
        float: right;
        text-align: center;
        padding: 3%;
        margin: 2%;
    }

    #username {
        width: 90%;
        position: relative;
        display: inline-flex;
        border: 1px solid #cccccc;
        border-radius: 5px;
    }

    #username-input {
        padding-left: 10px;
        border: none;
        width: 100%;
        outline: none;
        border-radius: 0px 5px 5px 0px;
    }

    #username-input:focus {
        border: solid #66afe9;
        border-radius: 0px 5px 5px 0px;
        outline: none;
        box-shadow: 0 0 1px #66afe9;
    }

    #username img {
        position: relative;
        height: 20px;
        background: #eeeeee;
        padding: 5px;
        border-radius: 3px 0px 0px 3px;
        color: #555555;
    }


    #password {
        width: 90%;
        position: relative;
        display: inline-flex;
        border: 1px solid #cccccc;
        border-radius: 5px;
        margin-top: 5px;
    }

    #password-input {
        padding-left: 10px;
        border: none;
        width: 100%;
        outline: none;
        border-radius: 0px 5px 5px 0px;
    }

    #password-input:focus {
        border: solid #66afe9;
        border-radius: 0px 5px 5px 0px;
        outline: none;
        box-shadow: 0 0 1px #66afe9;
    }

    #password img {
        position: relative;
        height: 20px;
        background: #eeeeee;
        padding: 5px;
        border-radius: 3px 0px 0px 3px;
        color: #555555;
    }

    #logInButtonDiv {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #signUpLink {
        float: left;
    }

    #forgotPassword {
        text-align: right;
    }
    */

#bottomBanner {
    background-color: #03244d;
    padding: 2%;
    bottom: 0px;
    border-top: 5px solid #dd550c;
}

#contactInfoBanner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#auburnLogo {
    position: relative;
    width: 150px;
    margin-right: 10px;
}

#contact {
    display: inline-flex;
    flex-direction: column;
    color: white;
    padding: 1px;
}

#title {
    border-bottom: 1px solid white;
    padding-bottom: 4px;
    margin-bottom: 1px;
    font-size: 18px;
}
/************************************************************************************/





/*The following code is for the subheading */
/************************************************************************************/
#subheader {
    display: flex;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 1%;
    justify-content: space-between;
    align-items: flex-end;
}

.subheaderTitle {
    font-size: 20px;
}

#buttonNavPanel {
    display: inline-flex;
    justify-content: flex-end;
}

#homeButton {
    margin-right: 10px;
}

.mainArea {
    margin: 1%;
    padding-top: 1%;
}
/************************************************************************************/





/* The following code is specific to the Landing page */
/************************************************************************************/
#homePageNavigation {
    display: flex;
    justify-content: center;
}

#statistics {
    display: inline-flex;
    border: none;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin: 5%;
    background-color: #03244d;
}

#statistics img {
    filter: opacity(30%);
    position: absolute;
    border-radius: 10px;
    width: 17vw;
    padding-top: 4%;
    filter: invert(31%) sepia(99%) saturate(2487%) hue-rotate(10deg) brightness(99%) contrast(91%);
}

#statisticsButton {
    border: 1px solid #cccccc;
    border-radius: 10px;
    background: none;
    position: relative;
    font-weight: bold;
    font-size: 3vw;
    width: 24vw;
    height: 24vw;
    color: white;
    font-size: min(30px, 3vw);
    padding-bottom: 65%;
    box-shadow: 5px 5px 5px grey;
}

#statisticsButton:active {
    border: 2px solid #66afe9;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 0 10px #66afe9;
}

#statisticsButton:focus {
    outline: none;
}

#takeQuiz {
    display: inline-flex;
    border: none;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin: 5%;
    background-color: #03244d;
}

#takeQuiz img {
    filter: opacity(30%);
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    width: 15vw;
    padding-top: 6%;
    filter: invert(31%) sepia(99%) saturate(2487%) hue-rotate(10deg) brightness(99%) contrast(91%);
}

#takeQuizButton {
    border: 1px solid #cccccc;
    border-radius: 10px;
    background: none;
    position: relative;
    font-weight: bold;
    font-size: 3vw;
    width: 24vw;
    height: 24vw;
    color: white;
    font-size: min(30px, 3vw);
    padding-bottom: 65%;
    box-shadow: 5px 5px 5px grey;
}

#takeQuizButton:active {
    border: 2px solid #66afe9;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 0 10px #66afe9;
}

#takeQuizButton:focus {
    outline: none;
}
/************************************************************************************/






/* The following code is specific to the Path page */
/************************************************************************************/
#pathPageNavigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pathDiv {
    text-align: justify;
    border-radius: 10px;
    color: white;
    padding: 2%;
    margin: 5%;
    max-width: 400px;
}

#bluePath {
    background-color: #03244d;
}

#orangePath {
    background-color: #dd550c;
}

#pathTitle {
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
    padding-bottom: 1%;
    text-align: center;
}

#pathInfo {
    margin-bottom: 4%;
}

#enterPathButtonDiv {
    text-align: center;
}
/************************************************************************************/






/* The following code is specific to the Statistics page */
/************************************************************************************/

/************************************************************************************/






/* The following code is specific to the Cases page */
/************************************************************************************/
#casesPageNavigation {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.caseCard {
    display: inline-flex;
    border: none;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin: 3%;
    background-image: linear-gradient(grey 55%, white 45%);
}

.caseCardButton {
    border: 1px solid #cccccc;
    border-radius: 5px;
    position: relative;
    width: 30vw;
    height: 30vw;
    max-width: 250px;
    max-height: 250px;
    background: none;
    box-shadow: 5px 5px 5px grey;
    padding-top: 55%;
    text-align: left;
    font-weight: normal;
    line-height: 2;
    font-size: min(16px, 2vw);
}

.caseCardButton:active {
    border: 2px solid #66afe9;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 0 6px #66afe9;
}

.caseCardButton:focus {
    outline: none;
}

#addCaseCardButtonDiv {
    display: inline-flex;
    border: none;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin: 3%;
    background: none;
    width: 30vw;
    max-width: 250px;
}

#addCaseCardButton {
    border-radius: 100px;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 30px;
    font-weight: normal;
    border: none;
}

#addCaseCardButton:active {
    border: solid #66afe9;
    border-radius: 100px;
    outline: none;
    box-shadow: 0 0 1px #66afe9;
}

#addCaseCardButton:focus {
    outline: none;
}


    /*This code is to display separate blue/orange cases pages which are just examples*/
    #orangeCaseCard {
        background-image: linear-gradient(#dd550c 55%, white 45%);
    }

    #blueCaseCard {
        background-image: linear-gradient(#03244d 55%, white 45%);
    }

    #orangeCaseCardButton {
        font-size: 16px;
    }

    #blueCaseCardButton {
        font-size: 14px;
    }
/************************************************************************************/






/* The following code is specific to the FooterNavigation */
/************************************************************************************/
#footerNavigation {
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
}

#returnToPathsButton {
    margin-right: 5px;
}

#startCaseButton {
    margin-left: 5px;
}
/************************************************************************************/







/* The following code is specific to the Case Description page */
/************************************************************************************/
#mainSubheader {
    display: flex;
    flex-direction: column;
}

#caseDescription {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 2%;
    margin: 1%;
}
/************************************************************************************/






/* The following code is specific to the Question pages */
/************************************************************************************/
#timer {
    border: 1px solid black;
    border-radius: 5px;
    padding: 1%;
    text-align: center;
    font-size: 12px;
}

#questionPageNavigation {
    display: flex;
    justify-content: space-between;
}

#caseDescriptionPanel {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 2%;
    margin: 2%;
    text-align: justify;
    width: 50%;
}

#caseDescriptionIdentifier {
    border-bottom: 1px solid grey;
    margin-bottom: 1%;
    font-size: 16px;
}

#questionAndAnswerPanel {
    /*border: 1px solid black;*/
    margin: 2%;
    width: 50%;
}

#questionSection {
    border: 2px solid black;
    border-radius: 5px;
    padding: 2%;
    margin-bottom: 4%;
}

#questionNumber {
    border-bottom: 1px solid grey;
    margin-bottom: 1%;
    font-size: 16px;
}

#answersSection {
    padding: 2% 0% 0% 0%;
    margin: 0%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    border-top: 1px solid grey;
}

#answerButton {
    border-radius: 5px;
    border: none;
    background: rgb(97,166,249);
    margin: 2%;
    padding: 2%;
    width: 100%;
}

#answerButton:active {

}

#answerButton:focus {
    outline: none;
    border-radius: 5px;
    background: rgb(242,167,126)
}

#questionFooterNavigation {
    display: flex;
    justify-content: flex-end;
}

#returnToCaseDescriptionButton {
    margin-right: 10px;
}

#pauseQuizButton {
    margin-right: 10px;
}
/************************************************************************************/